.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.zipcard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
  height: 100%;
}

h3 {
  background: grey;
  color: white;
  text-align: center;
}

.zipcard {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  color: black;
}

.zipcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.zipcard {
  padding: 2px 16px;
}